<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('index') }}">Carz</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('index') }}">L'agence</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('services') }}">Nos services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('catalogue') }}">Catalogue</a>
            </li>

        </ul>

    </div>
</nav>