{% extends 'layout/master-layout.html.twig' %}

{% block title %}Catalogue{% endblock %}

{% block contenu %}
    <br>
    <h1>Liste des véhicules</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Marque</th>
            <th scope="col">Modele</th>
            <th scope="col">Motorisation</th>
            <th scope="col">Prix</th>
        </tr>
        </thead>
        <tbody>
        {% for v in voitures %}
            <tr>
                <td><img src="{{ asset("images/"~v.photo) }}"></td>
                <td> <a href="{{ path('fichevoiture', {id: loop.index0} ) }}">{{ v.marque }}</a></td>
                <td>{{ v.modele }}</td>
                <td>{{ v.motorisation }}</td>
                <td><span class="badge badge-success">{{ v.prix }} €</span></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Nombre de véhicules : <span class="badge badge-info">{{ voitures | length }}</span></h3>


{% endblock %}
