{% extends 'layout/master-layout.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block contenu %}
    <div class="row">
        <div class="col-md-4">
            <br>
            <div class="jumbotron">
                    <h1 class="display-4">Notre agence</h1>
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Atque consectetur dignissimos ducimus facilis fuga molestias mollitia nulla repellendus unde voluptate?
                Animi architecto facilis fuga harum itaque non recusandae unde, veniam!
            </p>
            <br>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aspernatur blanditiis consequuntur deserunt eaque eligendi labore modi, possimus quo sapiente sed?
                Enim esse, fugiat ipsa necessitatibus nesciunt numquam quos saepe veniam!
            </p>
        </div>

        <div class="col-md-4">
            <br>
            <div class="jumbotron">

                    <h1 class="display-4">Nos services</h1>

            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Atque consectetur dignissimos ducimus facilis fuga molestias mollitia nulla repellendus unde voluptate?
                Animi architecto facilis fuga harum itaque non recusandae unde, veniam!
            </p>
            <br>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aspernatur blanditiis consequuntur deserunt eaque eligendi labore modi, possimus quo sapiente sed?
                Enim esse, fugiat ipsa necessitatibus nesciunt numquam quos saepe veniam!
            </p>
        </div>

        <div class="col-md-4">
            <br>
            <div class="jumbotron">
                    <h1 class="display-4">Notre catalogue</h1>
            </div>

                <h4>Notre catalogue de voitures vous propose plus de 400 véhicules (neufs et occasions)</h4>


                <img src="{{ asset('images/voiture.jpg') }}" width="150" height="120" style="float: right;">

            <br>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Atque consectetur dignissimos ducimus facilis fuga molestias mollitia nulla repellendus unde voluptate?
                Animi architecto facilis fuga harum itaque non recusandae unde, veniam!
            </p>
            <a href="https://citroenlorient.espacevo.fr/"><i class="fas fa-angle-right"></i> Consultez la liste de tous nos véhicules</a>




        </div>

    </div>

{% endblock %}
