{% extends 'layout/master-layout.html.twig' %}

{% block title %}Services{% endblock %}

{% block contenu %}
    <br>
    <div class="jumbotron">
        <h1 class="display-4">Services</h1>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>Vente neuf et occasion</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Consectetur cumque ea earum eius, incidunt ipsa laborum libero minima natus nostrum nulla officia pariatur,
                quam repudiandae similique sit soluta voluptatem voluptatum?
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aspernatur blanditiis consequuntur deserunt eaque eligendi labore modi, possimus quo sapiente sed?
                Enim esse, fugiat ipsa necessitatibus nesciunt numquam quos saepe veniam!
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Amet aspernatur autem natus quae quaerat quasi sed sequi vel voluptatem voluptatibus?
            </p>
        </div>

        <div class="col-md-6">
            <h3>Entretien / réparation</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Consectetur cumque ea earum eius, incidunt ipsa laborum libero minima natus nostrum nulla officia pariatur,
                quam repudiandae similique sit soluta voluptatem voluptatum?
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                At culpa eligendi incidunt iste nihil perspiciatis quasi soluta ullam vitae, voluptatum.
                Nemo nisi odit porro quod sunt velit. Earum, recusandae, sed!
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                A aliquid blanditiis facere libero officiis perferendis quis quisquam quod!
                Animi consequatur consequuntur, deleniti dignissimos ea ex fuga fugiat in itaque
                libero natus odit omnis praesentium quo repellendus rerum saepe sed, ut.
            </p>
        </div>

    </div>

{% endblock %}
