{% extends 'layout/master-layout.html.twig' %}

{% block title %}Voiture{% endblock %}

{% block contenu %}
    <br>
    <h2>Modèle <i class="fas fa-angle-right"></i> <span class="badge badge-info">{{ voiture.marque }} {{ voiture.modele }}</span></h2>
    <br>
    <div class="row">
        <div class="col-md-5">
            <h3>Descriptif</h3>
            <table class="table">
            <tbody>
            <tr>
                <td>Motorisation</td>
                <th>{{ voiture.motorisation }}</th>
            </tr>
            <tr>
                <td>Couleur</td>
                <th>{{ voiture.couleur }}</th>
            </tr>
            <tr>
                <td>NeufOccasion</td>
                <th>{{ voiture.neufOccasion }}</th>
            </tr>
            <tr>
                <td>Année</td>
                <th>{{ voiture.annee }}</th>
            </tr>
            <tr>
                <td>Kilométrage</td>
                <th>{{ voiture.kilometrage }}</th>
            </tr>
            <tr>
                <td>Prix</td>
                <th><span class="badge badge-success">{{ voiture.prix }} €</span></th>
            </tr>
            </tbody>
        </table>
        </div>

        <div class="col-md-2">
            <h3>Photo</h3>
            <img src="{{ asset("images/"~voiture.photo) }}">
        </div>

        <div class="col-md-3">
            <h3>Options</h3>
            <table class="table">
                {% for option in voiture.options %}
                    <tr>
                        <td><span class="badge badge-secondary">{{ loop.index }}</span> {{ option }}</td>
                    </tr>
                {% endfor %}

                {% if voiture.options | length == 0 %}
                    <div class="alert alert-primary" role="alert">
                        Pas d'option disponibles pour ce modèle.
                    </div>
                {% endif %}
            </table>


        </div>


    </div>

{% endblock %}